$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 12px
$font-size-large = 32px

grid-maker(90%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, false, $font-size-large)

html
  min-height: 100%
  background-image: linear-gradient(
    to bottom,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,1) 40%,
    rgba(211,211,211,1) 58%,
    rgba(102,102,102,1) 81%,
    rgba(73,73,73,1) 100%
  )

.container
  max-width: 700px

#header
  width: 100%
  max-width: 700px
  margin-left: auto
  margin-right: auto

nav
  border-bottom: 5px solid $color-black

li
  margin-bottom: .6rem

#logo-holder
  img
    display: block
